.variables {
  --font-family: "Inter", "Arial", sans-serif;
  --brand-color-dark: hsl(316, 71%, 74%);
  --accent-color-dark: hsl(198, 73%, 74%);
  --container-background-color-dark: hsl(0, 0%, 20%);
  --container-border-color-dark: hsl(0, 0%, 40%) 2px solid;
  --container-border-radius-dark: 6px;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}

/* Search Part of the page */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 0.5rem;
}

/* HTMX Loader */
.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, var(--brand-color-dark) 70%, #0000 0)
    left/20% 100%;
  background: linear-gradient(var(--brand-color-dark) 0 0) left -25% top 0 /20%
    100% no-repeat var(--accent-color-dark);
  animation: l7 1s infinite steps(6);
}
@keyframes l7 {
  100% {
    background-position: right -25% top 0;
  }
}

/* Buttons part of the page */
.buttons__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1rem;
  gap: 1rem;
  margin: 1rem 0;
  background-color: hsl(0, 0%, 20%);
  border: hsl(0, 0%, 40%) 2px solid;
  border-radius: 6px;
  font-size: 1.5rem;
  font-family: var(--font-family);
}

/* Topics Part of the page */
.topics__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
  margin: 1rem 0;
}

.topic {
  background-color: var(--container-background-color-dark);
  border: var(--container-border-color-dark);
  border-radius: 6px;
  color: var(--brand-color-dark);
  font-size: 1.5rem;
  text-decoration: none;
  font-family: var(--font-family);
  padding: 0.75rem;
}

.topic:hover {
  border: hsl(0, 0%, 60%) 2px solid;
  cursor: pointer;
}

/* The following is for the new-topic modal and is stored in a separate CSS */
