{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/polls/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/polls/partials/new-topic-modal.css' %}">

{% endblock %}


{% block content %}
    <h2>Topics</h2>
    
    <div class="search-container">
        <input type="text" id="search" placeholder="Search our {{public_topic_count}} public topics!"
        
        name="search"
        hx-post = "{% url 'polls:topics_search' %}" 
        hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
        hx-target=".topics__grid"
        hx-indicator=".loader"
        {% comment %} 
        This is what loads in the topics from searching. It loads in topics-search.html
        This is done because A - it needs to be searched. B - It needs to render on load, but stream the results
        {% endcomment %}
        >
        <div class="loader htmx-indicator"></div>
    </div>
    
    <div class="buttons__container">
        <button 
            class="button open-modal"
            id="new-topic"
            hx-get="{% url 'polls:render_modal' %}"
            hx-target="#modal-content"
            disabled
            >Add New Topic</button>
        <a class="button" href="{% url 'polls:random_topic_detail' %}">Find a Random Topic</a>
        <button class="button" >My Topics</button>
    </div>

    <div id="topics__grid" class="topics__grid">
        {% comment %} Topics are displayed with partials/topics-search.html {% endcomment %}
    </div>


    

{% endblock %}

{% block extra_scripts %}
<script>

    function getInner(ids) {
        const errors = {};
        if (Array.isArray(ids)) {
            ids.forEach(id => {
                const element = document.getElementById(id);
                if (element) {
                    errors[id] = element.innerHTML;
                }
            });
        } else {
            const element = document.getElementById(ids);
            if (element) {
                errors[ids] = element.innerHTML;
            }
        }
        return errors;
    }
</script>
{% endblock %}

