{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/polls/home.css' %}">

{% endblock %}


{% block content %}
    <h2>Topics</h2>
    
    <div class="search-container">
        <input type="text" id="search" placeholder="Search our {{topic_count}} topics!"
        name="search"
        hx-post = "{% url 'polls:topics_search' %}"
        hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
        hx-target=".topics__grid"
        hx-indicator=".loader">
        <div class="loader htmx-indicator"></div>
    </div>
    
    <div class="buttons__container">
        <button 
            class="button open-modal"
            id="new-topic"
            hx-get="{% url 'polls:render_modal' %}"
            hx-target="#modal-content"
            >Add New Topic</button>
        <a class="button" href="{% url 'polls:random_topic_detail' %}">Find a Random Topic</a>
        <button class="button" >My Topics</button>
    </div>

    <div id="topics__grid" class="topics__grid">

    </div>

    <dialog class="modal" id="modal">
        <div class="modal__header" id="modal__header">
            <button class="button modal__button" id="modalClose">X</button>
        </div>
        <div class="modal-content" id="modal-content"></div>
        
    </dialog>

    

{% endblock %}

{% block extra_scripts %}
<script>
    const modal = document.getElementById('modal')
    
    const openModalButtons = document.querySelectorAll('.open-modal');
    openModalButtons.forEach(button => {
        button.onclick = () => modal.showModal();
    });
    const closeModal = document.getElementById('modalClose')
    
    closeModal.onclick = () => modal.close()

    document.body.addEventListener('closeModal', () => {
        /* This is the function called by the add_topic view in polls/views.py */
        modal.close()
    })

</script>
{% endblock %}


