{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/polls/vote.css' %}">
    
{% endblock %}

{% block content %}

    <h2 tabindex="0" >Order the below items from least complex to most complex</h2>
    
    <div class="ballot">
        <div class="ballot__header">
            <h4 tabindex="0" class="ballot__header__label">Least Complex</h4>
        </div>
        <div id="polllist" class="poll-list" role="list" aria-label="List of subjects to order">
            {% for subject in subjects %}
            
            <div class="poll-list__item" tabindex="0" data-id="{{ subject.id }}" aria-label="{{ subject.subject_text }}" role="listitem" aria-grabbed="false">

                <p class="poll-list__subject-text"><span aria-hidden="true">{{ subject.subject_text }}    </span>    </p>
                {% for link in subject.subjectlinks_set.all %}
                {% comment %}
                <div id="poll-list__item__popover{{forloop.parentloop.counter}}{{forloop.counter}}" popover>
                    <a href="{{link.link_url}}" target="_blank">{{link.get_source_domain}}</a>
                </div>
                <button class="popover-button" popovertarget="poll-list__item__popover{{forloop.parentloop.counter}}{{forloop.counter}}"><i data-feather="link-2"></i></button></p>
                {% endcomment %}
                <a href="{{ link.link_url }}" class="poll-list__item__link" target="_blank" data-href="{{ link.link_url }}" role="link">
                    <span aria-label="View source at {{link.get_source_domain}}" class="sr-only">View source at {{link.get_source_domain}}</span>
                    <div class="tooltip">
                        <svg class="poll-list__item__tooltip"
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                        <div class="poll-list__item__tooltip__text">

                            <p>{{ link.get_source_domain }}<i data-feather="link-2"></i></p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            
            </div>
            {% endfor %}

        </div>

        
        <div class="ballot__footer">
            <h4 class="ballot__footer__label">Most Complex</h4>
            <div class="ballot__controls">
                <button type="button">
                    {% comment %}
                    <span class="button__tooltip">
                        <span class="button__tooltip__text">You can use the arrow keys to move items up and down</span>
                    </span>
                    {% endcomment %}
                    Submit ballot
                </button>
                <button 
                    type="button" 
                    class="button open-modal"
                    id="new-subject"
                    hx-get="{% url 'polls:render_modal' %}"
                    hx-target="#modal-content" 
                    >
                    <span class="button__tooltip">
                        <span class="button__tooltip__text">Think we missed a subject?</span>
                    </span>
                    Add New Subject
                </button>
                <button type="button"
                    class="button open-modal"
                    id="new-topic"
                    hx-get="{% url 'polls:render_modal' %}"
                    hx-target="#modal-content">
                    <span class="button__tooltip">
                        <span class="button__tooltip__text">Topic too large?<br> Click this button to create a sub topic</span>
                    </span>
                    Make Sub Topic
                </button>
            </div>
            <div class="ballot-details">
                <p>Topic created by {{ topic_owner }}</p>
                <p>Created on {{ topic.pub_date }}</p>
            </div>
        </div>
        
    </div>

    <div id="screen-reader-updates" aria-live="polite" style="position: absolute; left: -9999px;"></div>

    <dialog class="modal" id="modal">
        <div class="modal__header" id="modal__header">
            <button class="button modal__button" id="modalClose">X</button>
        </div>
        <div class="modal-content" id="modal-content"></div>
        
    </dialog>
{% endblock %}

{% block extra_scripts %}
<script>
    const modal = document.getElementById('modal')
    
    const openModalButtons = document.querySelectorAll('.open-modal');
    openModalButtons.forEach(button => {
        button.onclick = () => modal.showModal();
    });
    const closeModal = document.getElementById('modalClose')
    
    closeModal.onclick = () => modal.close()

    document.body.addEventListener('closeModal', () => {
        /* Views.py need to return this in the trigger_client_event to close the modal */
        modal.close()
    })

</script>
{% comment %}
<script>

     document.addEventListener("modal:show", () => {
      const modalEl = document.getElementById("modal");
      const bsModal = window.bootstrap.Modal.getOrCreateInstance(modalEl);
      bsModal.show();
      modalEl.addEventListener("hidden.bs.modal", () => {
        modalEl.remove();
      });
    });
    document.addEventListener('DOMContentLoaded', function() {
        var sortable = new Sortable(document.getElementById('polllist'), {
            animation: 150,
            ghostClass: 'sortable-ghost',
            delay: 300, // time in milliseconds to define when the sorting should start
            delayOnTouchOnly: true // only delay if user is using touch
        });

        document.querySelectorAll('.poll-list__item').forEach(function(item) {
            item.addEventListener('dblclick', function(event) {
                // Handle double-click event
                console.log('Double-clicked on:', item);
                // Add your custom logic here
            });

            // Handle touch events to simulate hover
            item.addEventListener('touchstart', function(event) {
                var tooltipText = item.querySelector('.poll-list__item__tooltip__text');
                if (tooltipText) {
                    tooltipText.classList.add('hover');
                }
            });

            item.addEventListener('touchend', function(event) {
                var tooltipText = item.querySelector('.poll-list__item__tooltip__text');
                if (tooltipText) {
                    tooltipText.classList.remove('hover');
                }
            });

            item.addEventListener('touchcancel', function(event) {
                var tooltipText = item.querySelector('.poll-list__item__tooltip__text');
                if (tooltipText) {
                    tooltipText.classList.remove('hover');
                }
            });
        });
    });
</script>
<script>
    feather.replace();
</script>




<script>
    
    /**
     * everything below needs reworked for screen readers *
     * TODO add a variable to true if a screenreader is used at all to show a finalized list and let them edit
     * If the user is using a screen reader let them go over every item on the list and if they hit a certain key then go back to focus on the list with a focus on that object precisely
     * Let them hit Ctrl + s to submit for verification
     */

    document.addEventListener('keydown', function(event) {
        if (event.code === 'Space' && document.activeElement.classList.contains('poll-list__item')) {
            event.preventDefault(); // Prevent the default spacebar action (scrolling)
            console.log('Spacebar pressed');
            let activeElement = document.activeElement;
            let sortableInstance = Sortable.get(activeElement.parentElement);

        }
    });
    
        document.addEventListener('keydown', function(event) {
            let activeElement = document.activeElement;
            let items = document.querySelectorAll('#polllist .poll-list__item');
            let currentIndex = Array.from(items).indexOf(activeElement);
            let nextIndex;
    
            switch (event.code) {
                case 'ArrowUp':
                    event.preventDefault(); // Prevent the default arrow key action (scrolling)
                    nextIndex = currentIndex - 1;
                    if (nextIndex >= 0) {
                        let nextElement = items[nextIndex];
                        activeElement.parentElement.insertBefore(activeElement, nextElement);
                        activeElement.focus();
                        updateAriaLiveRegion(activeElement, items[nextIndex - 1], nextElement);

                    }
                    break;
                case 'ArrowDown':
                    event.preventDefault(); // Prevent the default arrow key action (scrolling)
                    nextIndex = currentIndex + 1;
                    if (nextIndex < items.length) {
                        let nextElement = items[nextIndex].nextSibling;
                        activeElement.parentElement.insertBefore(activeElement, nextElement);
                        activeElement.focus();
                        updateAriaLiveRegion(activeElement, nextElement, items[nextIndex + 1]);
                    }
                    break;
                // Add more cases here for other key actions if needed
            }
        });
        function updateAriaLiveRegion(movedElement, previousElement, nextElement) {
            let message = `Moved ${movedElement.getAttribute('aria-label')}`;
            if (previousElement && previousElement.getAttribute) {
                message += ` between ${previousElement.getAttribute('aria-label')}`;
            }
            if (nextElement && nextElement.getAttribute) {
                message += ` and ${nextElement.getAttribute('aria-label')}`;
            }
            document.getElementById('screen-reader-updates').textContent = message;
        }

</script>
<script>
    document.getElementById('polllist').addEventListener('keydown', function(event) {
        if ((event.ctrlKey || event.metaKey || event.shiftKey) && (event.key === 'ArrowUp' || event.key === 'ArrowDown')) {
            event.preventDefault();
            
            // Add your custom logic here
        }
    });
</script>
{% endcomment %}
{% endblock %}
