.ballot {
  padding: 0.1rem 0.5rem;
  background-color: #a3d0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.ballot h4 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ballot__footer {
  margin-bottom: 0.5rem;
}

.poll-list {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}

.poll-list__item {
  margin: 0.25rem 0;
  padding: 0.25rem 0 0.25rem 0.5rem;
  width: 100%;
  background-color: #8260dc;
  color: #fff;
  border: 1px solid #58768c;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .poll-list__item {
    margin: 0.1rem 0;
  }
}

.poll-list__subject-text {
  padding: 0.1rem;
}
.poll-list__item > * {
  margin: 0 0.5rem;
}

.tooltip {
  position: relative;
}

.poll-list__item__link {
  color: #fff;
  text-decoration: none;
}

.poll-list__item__tooltip__text {
  visibility: hidden;
  opacity: 0;
  background-color: black;
  color: #fff;
  text-align: center;

  border-radius: 6px;
  /* padding: 5px 0; */
  position: absolute; /* Position absolutely */
  z-index: 1;
  width: 100px;
  bottom: 100%; /* Position above the sibling */
  /* left: 50%; */
  /* transform: translateX(-50%); Center horizontally */
  margin-bottom: 5px; /* Add some space between the parent and the tooltip */
  margin-left: -40px;
  overflow-wrap: break-word;
}

.poll-list__item__tooltip__text p {
  margin-block-end: auto;
  margin: 0.25rem;
  padding: 0;
}

.poll-list__item__tooltip + .poll-list__item__tooltip__text {
  visibility: hidden;
}

.poll-list__item__tooltip:hover + .poll-list__item__tooltip__text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.feather {
  width: 16px;
  height: 16px;
}

.ballot__controls {
  margin: 0.5rem 0;
  --min: 15ch;
  --gap: 1rem;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.ballot__controls button {
  font-family: var(--font-family);
  padding: 1rem;
  font-size: 1.25em;
  background-color: #e87ccb;
  color: currentColor;
  border: black 1px solid;
  border-radius: 3px;
  position: relative;
}

.ballot__controls button:hover {
  background-color: #814471;
  color: #fff;
  cursor: pointer;
}

.ballot__controls .button__tooltip {
  position: absolute;
  width: 200px;
  opacity: 0;
  z-index: 1;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;
  bottom: 100%;
  margin-bottom: 5px;
  /* margin-left: -40px; */
  visibility: hidden;
  /* margin-left: -100px; */
  left: 50%;
  transform: translateX(-50%);
}

.ballot__controls button:hover .button__tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ########################### */
/* ###### Sortable List ###### */
/* ########################### */

.sortable-ghost {
  margin: 0.25rem 0;
  padding: 0.25rem 0 0.25rem 0.5rem;
  width: 100%;
  background-color: #9acef2;
  border: 1px solid yellow;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sortable-chosen {
  margin: 0.25rem 0;
  padding: 0.25rem 0 0.25rem 0.5rem;
  width: 100%;
  background-color: #331a7138;
  color: black;
  border: 1px solid #8260dc;
  border-radius: 0.25rem;
  cursor: pointer;
}

.test-link {
  display: flex;
  justify-content: center;
  justify-items: center;
}

[popover] {
  background: black;
  color: white;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  max-width: 20ch;
  line-height: 1.4;
  top: 2rem;
  margin: 0 auto;
}

/*   IS-OPEN STATE   */
[popover]:popover-open {
  translate: 0 0;
}

/*   EXIT STATE   */
[popover] {
  transition: translate 0.7s ease-out, display 0.7s ease-out allow-discrete,
    overlay 0.7s ease-out allow-discrete;
  translate: 0 -22rem;
}

/*   0. BEFORE-OPEN STATE   */
@starting-style {
  [popover]:popover-open {
  }
}
