.login-form__buttons,
.register-form__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.login-form__buttons .button,
.register-form__buttons .button {
  width: 100%;
}

.htmx-modal-indicator {
  opacity: 0;
  transition: opacity 0.5s;
}

.htmx-modal-indicator.htmx-request {
  opacity: 1;
}
